.destination__item {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2.4rem;
}

.destination__item-image {
    position: relative;
}

.destination__item-text {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width : 784px) {
    .destination__item {
        flex-direction: column;
        padding: 1rem;
        row-gap: 1rem;
    }
}