.destination__item {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 2.4rem;
}

.destination__item-image {
    position: relative;
}

.destination__item-text {
    position: absolute;
    left: 35%;
    top: 38%;
}

@media (max-width : 784px) {
    .destination__item {
        flex-direction: column;
        padding: 1rem;
        row-gap: 1rem;
    }
}