.experience {
    display: flex;
    flex-direction: row;
}

.experience__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
}

.experience__label {
    color: #FF4A2E;
}

.experience__title {
    font-size: 44px;
    color: #000000;
}

.experience__description {
    padding-top: 1rem;
    color: #000000;
    font-size: 18px;
}

.experience__content, .experience__image {
    width: 50%;
}

.experience__art {
    position: absolute;
    left: -160px;
    bottom: 0;
}

.experience__button {
    padding-top: 3rem;
}