.experience-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-demo__video {
    position: relative;
    padding: 1rem;
}

.experience-demo__label {
    color: #FF4A2E;
}

.experience-demo__title {
    font-size: 44px; 
    color: #000000;
    padding-bottom: 3rem;
}

.experience-demo__video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 784px) {
    .experience-demo__video {
        padding: 1rem;
    }

    .experience-demo__title {
        padding-bottom: 1rem;
    }
    
}