.experience {
    display: flex;
    flex-direction: row;
}

.experience__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
}

.experience__label {
    color: #FF4A2E;
}

.experience__title {
    font-size: 44px;
    color: #000000;
}

.experience__description {
    padding-top: 1rem;
    color: #000000;
    font-size: 18px;
}

.experience__content, .experience__image {
    width: 50%;
}

.experience__art {
    position: absolute;
    left: -160px;
    bottom: 0;
}

.experience__button {
    padding-top: 3rem;
}

@media (max-width: 784px) {
    .experience {
        padding-top: 5em;
        flex-direction: column;
        row-gap: 1rem;
    }

    .experience__button, .experience__art {
        display: none;
    }

    .experience__content, .experience__image {
        width: 100%;
    }

    .experience__image, .experience__title, .experience__description {
        text-align: center;
    }
    
    .experience__content {
        padding: 0 1rem;
        align-items: center;
    }
}