.experience-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-demo__video {
    position: relative;
    padding: 1rem;
}

.experience-demo__video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 784px) {
    .experience-demo__video {
        padding: 1rem;
        padding: 2rem 1rem;
    }
}