.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlights__button {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.highlights__divider {
  border: 1px solid #d3d3d3;
  width: 100%;
  opacity: 0.37;
  margin: 1rem 0;
}

.general-tour {
  position: relative;
  width: 260px;
  height: 54px;
}

.general-tour {
  position: relative;
  width: fit-content;
}
.general-tour__button-text {
  width: 100%;
  font-size: 23px;
}

.general-tour__button-abs {
  position: absolute;
  top: 10px;
  left: 10%;
  right: 10%;
}

.vip-tour {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.vip-tour__button-text {
  font-size: 23px;
  color: #ffab1e;
}

.highlights__carousel {
  height: 368px;
}

.highlights__carousel {
  position: relative;
}

.highlights__carousel-images {
  max-height: 368px;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.highlights__image {
  max-width: 368px;
}

.highlights__carousel-action-left {
  position: absolute;
  top: 45%;
  left: -2.5rem;
  transform: rotate(180deg);
}
.highlights__carousel-action-right {
  position: absolute;
  top: 45%;
  right: -2.5rem;
}

.vip-tour__button-abs {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  position: absolute;
  font-size: 23px;
  top: 10px;
  left: 10%;
  right: 10%;
}

.general-tour {
  display: flex;
  align-items: center;
}

.vip-tour-stable {
  display: flex;
}

@media (max-width: 768px) {

  .highlights__image {
    max-width: 300px;
    max-height: 300px;
  }

  .highlights__button-mobile {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
  }

  .general-tour__button-text {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
  }

  .highlights__carousel-action-left {
    position: absolute;
    top: 35%;
    left: -1.5rem;
    transform: rotate(180deg);
  }
  .highlights__carousel-action-right {
    position: absolute;
    top: 35%;
    right: -1.5rem;
  }
}
