.newsletter__label {
    color: #FF4A2E;
}

.newsletter__title {
    color: #0E0E0E;
    font-size: 44px;
}

.newsletter__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.newsletter__input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cfcfcf;
  width: 466px;
  height: 50px;
  opacity: 1;
  padding: 1rem;
  outline: none;
}

.newsletter__input:focus {
  border-color: #a9a9a9; /* Darker border color on focus */
}
