.app {
    display: flex;
    flex-direction: column; /* Align children in a column */
    width: 100%; /* Full width */
    min-height: 100vh; /* Ensure the app takes at least the full viewport height */
}

.section {
    width: 100%; /* Full width for each section */
    height: 100vh; /* Each section takes full viewport height */
    display: flex; /* Flexbox to align content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: #fff; /* Text color (adjust as needed) */
}

#section1 {
    background-image: url('./assets/images/Section1_BG.jpg'); /* Set your background image */
    background-size: cover; /* Cover the entire section */
    background-position: top; /* Center the background image */
}

#section2 {
    height: fit-content;
    margin: 4rem 0;
}

#about_us {
    position: relative;
    height: 80vh;
}

#how_it_works {
    background-image: url('./assets/images/Section4_BG.jpg');
    background-size: cover;
    background-position: center;
}

#gallery {
    background-image: url('./assets/images/Section5_BG.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#section6 {
    height: auto;
    background-image: url('./assets/images/Section6_BG.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#section7 {
    margin-top: 5rem;
    position: relative;
    background-image: url('./assets/images/Section7_BG.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#destination {
    background-image: url('./assets/images/Section8_BG.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}